requests
dataset
readability-lxml
feedparser
nltk
gensim
psycopg2
cssselect
git+git://github.com/nltk/nltk_contrib.git
git+git://github.com/pudo/thready.git
git+git://github.com/originell/jpype.git
git+git://github.com/misja/python-boilerpipe.git
flask